$white: #fff
$primary-dark: #1B286F
$primary-light: #004F94
$black: #000000
$menuActive: rgba(32, 22, 102, 1)
$menuListColor: rgba(113, 113, 113, 1)


// font-family

$fontFamily: "Montserrat", sans-serif
$size64: 64px
$size48: 48px
$size36: 36px
$size32: 32px
$size24: 24px
$size20: 20px
$size18: 18px
$szie16: 16px