$white: white
$primary-dark: #1B286F
$primary-light: #004F94
$dark-purple: #231C64
$dark-pink: #212068
$article-color: #0F3980
$black: #000000
$menuActive: rgba(32, 22, 102, 1)
$menuListColor: rgba(113, 113, 113, 0.42)

/**/
// font-family

$fontFamily: "Montserrat", sans-serif
$size64: 64px
$size48: 48px
$size36: 36px
$size32: 32px
$size24: 24px
$size20: 20px
$size18: 18px
$size16: 16px
$size: 14px